#exportPattern("^[[:alpha:]]+")
exportPattern("^[^\\.]")

import(coda)
import(ggplot2)
import(MASS)
import(survival)
importFrom("graphics", "abline", "hist", "lines", "plot", "title")
importFrom("methods", "is")
importFrom("stats", "aggregate", "binomial", "complete.cases", "cov", "dbeta",
           "density", "dnorm", "glm", 
           "lowess", "logLik", "model.frame", "model.matrix", "model.response", 
           "nlm", "nlminb", "optim", "pnorm", "printCoefmat",
           "quantile", "qnorm", "rbinom", "rexp", "rgamma", "rnorm", "runif", 
           "sd", "vcov")

S3method(bhm, default)
S3method(bhm, formula)

S3method(brm, default)
S3method(brm, formula)

S3method(print, bhm)
S3method(print, brm)
S3method(print, mpl)
S3method(print, pIndex)
S3method(print, resboot)
S3method(print, summary.bhm)
S3method(print, summary.brm)

S3method(mpl, formula)

S3method(pIndex, default)
S3method(pIndex, formula)

S3method(plot, bhm)
S3method(plot, brm)
S3method(plot, pIndex)
S3method(plot, resboot)
S3method(plot, residuals.brm)

S3method(resboot, default)
S3method(resboot, formula)

S3method(residuals, brm)

S3method(summary, bhm)
S3method(summary, brm)

