#exportPattern("^[[:alpha:]]+")
exportPattern("^[^\\.]")

import(coda)
import(ggplot2)
import(survival)

importFrom("graphics", "abline", "hist", "lines", "plot", "title")
importFrom("grid", unit)
importFrom("gridExtra", grid.arrange)
importFrom("lpl", "ibs")
importFrom("methods", "is")
#importFrom("MASS", "ginv", "mvrnorm")
importFrom("stats", "approx", "aggregate", "binomial", "complete.cases", "cov", "dbeta",
           "density", "dnorm", "ecdf", "glm", 
           "lm.fit", "lowess", "logLik", 
	   "model.frame", "model.matrix", "model.response", 
           "nlm", "nlminb", "optim", "pchisq", "predict", "pnorm", "printCoefmat", 
           "quantile", "qnorm", "quasibinomial", 
	   "rbinom", "rexp", "rgamma", "rnorm", "runif", "rweibull", 
           "sd", "time", "vcov")

S3method(bhm, default)
S3method(bhm, formula)

S3method(brm, default)
S3method(brm, formula)

S3method(glmpLRT, default)
S3method(glmpLRT, formula)

S3method(llm, default)
S3method(llm, formula)

S3method(mpl, formula)

S3method(pIndex, default)
S3method(pIndex, formula)

S3method(plot, bhm)
S3method(plot, brm)
S3method(plot, glmpLRT)
S3method(plot, llm)
S3method(plot, pIndex)
S3method(plot, resboot)
S3method(plot, rmscb)
S3method(plot, residuals.brm)

S3method(print, bhm)
S3method(print, brm)
S3method(print, glmpLRT)
S3method(print, llm)
S3method(print, mpl)
S3method(print, picreg)
S3method(print, pIndex)
S3method(print, resboot)
S3method(print, rmscb)
S3method(print, summary.bhm)
S3method(print, summary.brm)

S3method(resboot, default)
S3method(resboot, formula)

S3method(residuals, brm)

S3method(rmscb, default)
S3method(rmscb, formula)

S3method(summary, bhm)
S3method(summary, brm)
S3method(summary, glmpLRT)
S3method(summary, picreg)
S3method(summary, rmscb)
